<h2>Enter new band</h2>

<form action="<%= bands_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Name:
        <input type="text" name="band[name]" value="<%= @band.name %>">
    </label>

    <input type="submit" value="Add Band">

</form>
