/* PHASE 2: Notifications */

.badge {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 7px;
  padding-left: 6px;
  background: black;
  border-radius: 50%;
}

.header-list {
  position: relative;
}

.header-notifications {
  display: none;
  background: white;
  position: absolute;
}

.header-notifications li {
  color: black;
}

li:hover {
  background-color: gray
}

.header-list:hover ul {
  display: block;
}

.header {
  position: relative;
  z-index: 1;
}