<ul class="section-nav">
    <li><a href="javascript:void (0)"></a>World</li>

    <li><a href="javascript:void (0)"></a>San Francisco</li>
        
    <li><a href="javascript:void (0)"></a>New York</li>

    <li><a href="javascript:void (0)"></a>Bootcamp Prep</li>

    <li><a href="javascript:void (0)"></a>Jumpstart</li>

    <li><a href="javascript:void (0)"></a>Online</li>

    <li><a href="javascript:void (0)"></a>Marketing</li>

    <li><a href="javascript:void (0)"></a>Sales</li>

    <li><a href="javascript:void (0)"></a>TalentMatch</li>

    <li><a href="javascript:void (0)"></a>Alumni</li>

    <li><a href="javascript:void (0)"></a>ALL</li>
    
</ul>